@charset "UTF-8";
@media (min-width: 320px) {
  html {
    font-size: 42.66666667px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 53.33333333px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 56.53333333px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 85.33333333px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearFix::before,
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.m_l10 {
  margin-left: 10px;
}
.m_r10 {
  margin-right: 10px;
}
.m_t10 {
  margin-top: 10px;
}
.m_b10 {
  margin-bottom: 10px;
}
/*版心*/
.container {
  position: relative;
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 0.9rem;
  padding-bottom: 1rem;
}
/*顶部通栏*/
.topBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 0.9rem;
  background-color: #fabc09;
}
.topBar .icon_category {
  position: absolute;
  top: 0;
  width: 0.9rem;
  height: 0.9rem;
  background: url("../images/icon_category.png") no-repeat center / 0.44rem 0.7rem;
}
.topBar .icon_car {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.9rem;
  height: 0.9rem;
  background: url("../images/icon_cart.png") no-repeat center / 0.63rem 0.68rem;
}
.topBar form {
  position: relative;
  width: 100%;
  padding: 0 0.9rem;
}
.topBar form input {
  width: 100%;
  height: 0.5rem;
  margin-top: 0.15rem;
  border-radius: 10px;
  font-size: 0.18rem;
  padding-left: 0.45rem;
  background-color: rgba(255, 255, 255, 0.3);
}
.topBar form .icon_search {
  position: absolute;
  top: 0.25rem;
  left: 1rem;
  width: 0.27rem;
  height: 0.28rem;
  background: url("../images/icon_search.png") no-repeat center / 0.27rem 0.28rem;
}
/*导航分类栏*/
.nav {
  width: 100%;
}
.nav ul {
  width: 100%;
}
.nav ul li {
  padding-top: 0.15rem;
  float: left;
  width: 20%;
}
.nav ul li a {
  display: block;
  width: 100%;
  text-align: center;
}
.nav ul li a img {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 auto;
}
.nav ul li a p {
  padding: 5px 0;
  color: #666;
}
/*底部信息栏*/
.info {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 1rem;
  background-color: white;
  border-top: 1px solid #ccc;
}
.info ul {
  width: 100%;
}
.info li {
  padding-top: 15px;
  float: left;
  width: 20%;
}
.info a span {
  display: block;
  text-align: center;
  font-size: 0.35rem;
}
.info a p {
  text-align: center;
  color: #666;
}
/*# sourceMappingURL=index.css.map */